<html>
<head>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>Flask-Server-Panel</title>
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div id="hostname" url="{{url_for('api.api_server_hostname')}}"></div>
        <div id="uptime" url="{{url_for('api.api_server_uptime')}}"></div>
        <div id="memory" url="{{url_for('api.api_system_memory')}}"></div>
        <div id="swap" url="{{url_for('api.api_system_swap')}}"></div>
        <div id="disk" url="{{url_for('api.api_system_disk_space')}}"></div>
        <div id="processes" url="{{url_for('api.api_system_processes')}}"></div>
        <div id="pihole" url="{{url_for('api.api_pihole_stats')}}"></div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
</body>
</html>