<html>
<head>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>Flask-Server-Panel</title>
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet">
</head>
<body>


    <div id="uptime"></div>


    <script src="{{ url_for('static', filename='js/react.js') }}"></script>
    <script src="{{ url_for('static', filename='js/react-dom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/babel">

      var Uptime = React.createClass({
        loadFromServer: function() {
            $.ajax({
              url: this.props.url,
              dataType: 'json',
              cache: false,
              success: function(data) {
                this.setState({data: data});
              }.bind(this),
              error: function(xhr, status, err) {
                console.error(this.props.url, status, err.toString());
              }.bind(this)
            });
          },
        getInitialState: function() {
            return {data: []};
        },
        componentDidMount: function() {
            this.loadFromServer();
            setInterval(this.loadFromServer, this.props.pollInterval);
        },
        render: function() {

         return (<span>uptime : <strong>{ this.state.data.uptime }</strong></span>);

        }
      });

    ReactDOM.render(
      <Uptime url='{{url_for('api.api_server_uptime')}}' pollInterval={500} />,
      document.getElementById('uptime')
    );

    </script>
</body>
</html>